<div class="form">
  <h1>Анкета</h1>
  <div>
    <form [formGroup]="formGroup" (ngSubmit) = "onFormSubmit()">
        <div *ngFor="let item of formElementArray">
           <app-testInput *ngIf="item.type == 'text-box'" [testForm] = item [onAdd] = "onAdd" [onDelete] = "onDelete" [formElementArray] = "formElementArray"></app-testInput>
           <app-testCheckbox *ngIf=" item.type == 'check-box-group' "  [testForm] = item></app-testCheckbox>
           <app-testSelect *ngIf=" item.type == 'select-box' "  [testForm] = item></app-testSelect>
           <app-testNumber *ngIf=" item.type == 'number-box' "  [testForm] = item [changeNumberUp] = "changeNumberUp" [changeNumberDown] = "changeNumberDown"></app-testNumber>
        </div>
        <button type="submit" class="form_btn" [disabled] = "disabled">Отправить</button>
    </form>
  </div>
</div>
